body {
    background-color: #494E6B;
    margin: auto;
    overflow: visible;
}

header {
    color: #98878F;
    background-color: #192231;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 16px 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.container {
    width: 100%;
    min-height: 75vh;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(0,0,0,0.25);
    border-radius: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 24px 20px;
    font-size: 20px;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #985E6D;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.innerContainer {
    display: flex;
    overflow: auto;
    height: 80vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

ul {
    color: #98878F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    list-style-type: none;
}