html {
    height: 100%;
}

body {
    /*
    background-color: #494E6B;
    background-color: #49365f;
    */
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#192231,#49365f,#985E6D);
    margin: auto;
    overflow: visible;
    min-height: 100%;
}

header {
    color: rgb(218, 199, 212);
    background-color: #192231;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 12px 12px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.container {
    width: 100%;
    min-height: 75vh;
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 755px;
    background: rgba(0,0,0,0.25);
    border-radius: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 24px 20px;
    font-size: 20px;
    color: rgb(218, 199, 212);
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    color: rgb(218, 199, 212);
    opacity: 1;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #985E6D;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.innerContainer {
    display: flex;
    overflow: visible;
    height: 80vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

p {
    font-weight: bold;
}

ul {
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 25px;
    color: rgb(218, 199, 212);
    list-style-type: none;
}

#weatherWrapper {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#currentWeather {
    display: flex;
    align-items: center;
}

#currentWeatherIcon {
    flex-direction: row;
    width: 300px;
    align-items: center;
}

#currentWeatherStack {
    margin-block-start: 0;
    margin-block-end: 0;
    width: 300px;
    justify-content: center;
    align-items: center;
}

#currentTemp {
    color: rgb(218, 199, 212);
    font-size: 120px;
    margin-block-start: 0;
    margin-block-end: -0.2em;
    margin-inline-start: -0.1em;
}

#currentLocation {
    color: rgb(218, 199, 212);
    font-size: 30px;
    margin-block-end: -1em;
}

#detailsButton {
    background: rgba(0,0,0,0.25);
    color: rgb(218, 199, 212);
    font-size: 20px;
    border: 0;
    border-radius: 15%;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.forecastCard {
    background: rgba(0,0,0,0.25);
    padding: 2.5vh 1.5vw;
    border-radius: 12%;
    color: rgb(218, 199, 212);
    
}

.innerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -2vh;
    margin-top: -2vh;
}

.forecastImg{
    width: 10vw;
    margin: -2vh;
}

.lowHighWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.low,
.high {
    font-size: 30px;
    margin: 1vw;
}


#forecastTable {
    border-spacing: 5vw;
    margin-bottom: -20vh;
}

