body {
    background-color: #494E6B;
    margin: 0;
}

header {
    color: #98878F;
    background-color: #192231;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 16px 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.container {
    display: flex;
    overflow: auto;
}

.innerContainer {
    display: flex;
    overflow: auto;
    height: 80vh;
    align-items: center;
    justify-content: center;
    position: relative;
}


.containerColumn {
    flex: 50%;

}

.button1 {
    background-color: #985E6D;
    display: flex;
    color: black;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 16px 24px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    position: absolute;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.locationText {
    position:absolute;
    margin-top: 16vh;
}

.weatherData {
    position: relative;
    padding: 8vw;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    list-style-type: none;
}